extends layout

block content
  h1= title
  - let results = [ { Dept_Name:'Computer Science', Faculty_Strength:120, Total_Intake:3400 },  { Dept_Name:'Electrical Engineering', Faculty_Strength:80,  Total_Intake:2400 },  { Dept_Name:'Chemical Engineering',  Faculty_Strength:50,  Total_Intake:1500 } ];

  div.container-fluid
    div.row
      each item,index in results
        div.col-sm-2(onclick=`buy(${index})`)
          h3 #{item.Dept_Name}
          p #{item.Faculty_Strength}
          p #{item.Total_Intake}
  script.
    function buy(index){
      alert(`You have purchased item ${index}`);
    }